<% include ./partials/head %>
	<% if (data) { %>
		<ul>
			<% data.forEach((building) => { %>
				<li>
					<a href="/building/<%-building.id%>">
						<%-building.name%>
					</a>
				</li>
				<%}) %>
		</ul>
		<%	} else { %>
			<h2>Sorry, there is no data available!</h2>
			<%	} %>

<script async defer>
	let data = <%- JSON.stringify( data )  %>
</script>

<% include ./partials/foot %>