<% include ./partials/head %>

	<% if (data) { %>
	<section id='buildinglist'>
		<ul id='myUL'>
			<% data.forEach((building) => { %>
				<li>
					<a href="/building/<%-building.id%>">
						<%-building.name%>
					</a>
				</li>
				<%}) %>
		</ul>
	</section>
		<%	} else { %>
			<h2>Sorry, there is no data available!</h2>
			<%	} %>

<script src='./scripts/bundle.js'></script>

<% include ./partials/foot %>